.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.booking-group h5 {
  color: #868A8E;
  font-weight: bold;
  background-color: #F5F5F5;
  padding: 0.8em;
  border-top: 1px solid #E6E7E8;
  border-bottom: 1px solid #E6E7E8;
  margin: 0
}

.navigation {
  background-color: #F5F5F5;
  padding: 1.2em 0.8em;
}

.navigation ul {
  padding: 0;
  margin: 0;
}

.navigation ul li {
  list-style: none;
  float: left;
}

.navigation i svg, .search-bar svg, .booking svg {
  width: 1.8em;
  height: 1.8em;
}

.navigation i svg, .search-bar svg {
  fill: #507FEA;
}

.booking svg {
  fill: #009E21;
}

.navigation .date svg {
  width: 0.9em;
  height: 0.9em;
}

.navigation .date .svg-icon {
  margin-left: 0.5em;
}

.navigation .burger, .navigation .search {
  width: 15%;
}

.navigation button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.navigation .date {
  font-size: 1.3em;
  width: 55%;
}

.booking-group > .booking:not(:last-child) {
  border-bottom: 1px solid #E6E7E8;
}

.booking-group .booking {
  padding: 0.8em;
}

.booking-group .booking.empty {
  height: 5em;
  padding: 2em 0.8em;
}

.booking {
  position: relative;
}

.booking span {
  display: block;
}

.booking > div {
  float: left;
}

.search-bar input {
  border-radius: 0;
}

.search-bar .search-icon {
  width: 10%;
  padding-top: 0.15em;
  padding-left: 0.4em;
  border: 1px solid #ccc;
  background-color: #F5F5F5;
  border-right: none;
}

.search-bar .search-input {
  width: 76.3%;
}

.search-bar .cancel {
  background-color: #F5F5F5;
  border: 1px solid #ccc;
  line-height: 1.95;
  color: #507FEA;
  border-left: none;
}

.booking .time {
  width: 23%;
}

.booking .now {
  width: 20%;
}

.booking .now .svg-icon {
  position: absolute;
  bottom: 0.65em;
  right: 0.8em;
}

.search-bar .search-component {
  float: left;
}
